<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
    <h1>Delete Student</h1>
    <hr>
    
    <p>Are you sure you want to delete <strong>{{ student.first_name }} {{ student.last_name }}</strong>?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="color: red; font-weight: bold;">Confirm Delete</button>
    </form>
    
    <br>
    <a href="{% url 'student_list' %}">Cancel</a>
</body>
</html>